.container {
    width: 100%;
    text-align: center;
}

//size
.w33 {
    width: 33%;
}

.h33 {
    height: 33%;
}

.fw {
    width: 100%;
}

.fh {
    height: 100%;
}

.hw {
    width: 50%;
}

.hh {
    height: 48%;
    margin: 1% 0;
}

//flex
.flex-a {
    display: flex;
    justify-content: space-around;
}

.flex-b {
    display: flex;
    justify-content: space-between;
}

.flex-s {
    display: flex;
    justify-content: flex-start;
}

.column {
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
//border
.ba {
    border: 1px solid red;
}

.bb {
    border: 1px solid blue;
}

.bc {
    border: 1px solid #8B97B4;
}

.circle {
    border-radius: 50%;
}

.hover{
    &:hover{
        transition: 0.3s;
        color: aqua;
    }
}

//animation
.pointer {
    &:hover {
        cursor: pointer;
    }

    &:active {
        cursor: pointer;
    }
}

.underline {
    &::after {
        content: " ";
        display: block;
        width: 56%;
        margin: 0 auto;
        margin-top: 3px;
        border: 1px dotted transparent;
        border-image: linear-gradient(to top, rgba(3, 44, 54, 0.1), #fff, rgba(3, 44, 54, 0.1)) 1;
        transform: rotate(-0.5 turn);
    }
}

.hid{
    overflow: hidden;
}
//color
.color-f {
    color: #FFFFFF;
}

.color-ff {
    color: #FFFFFF !important;
}

.color-a{
    color: aqua;
}

.l-blue {
    color: #52C6E8;
}

.d-blue {
    color: #3D8CE7;
}

.gray {
    color: #7885AA;
}

.gradient {
    background-image: -webkit-linear-gradient(bottom, #bedcee, #84BFF2, #7FBAF2); //整体添加渐变背景
    -webkit-background-clip: text; //将文字颜色透明化
    background-clip: text;
    -webkit-text-fill-color: transparent; //使用背景色填充文字区域
}
.gradient2 {
    background-image: -webkit-linear-gradient(bottom, #266992, #68acd3, #266992); //整体添加渐变背景
    -webkit-background-clip: text; //将文字颜色透明化
    background-clip: text;
    -webkit-text-fill-color: transparent; //使用背景色填充文字区域
}


//font-size
.font-a {
    font-size: 22px;
    font-weight: 600;
}

.font-b {
    font-size: 18px;
    font-weight: 600;
}

.font-c {
    font-size: 14px;
    font-weight: 600;
}

.tc{
    text-align: center;
}